{% extends "base.html" %} {% block content %} {% load static %}
<section class="content">
  <div class="header-main">
    <span><img src = "{% static 'img/twitter.png' %}" class = "logo"/></span>
    <h1><b>Twitter</b></h1>
  </div>
  <section class = "post_form">  
    <div class="logo" id = "user-image">
      <img src = "{% static 'img/smiling.png' %}"/>
    </div>
    <form action="/" method="POST" enctype="multipart/form-data">
     {% csrf_token %}
     <input class = "input-name" type="text" name="name" placeholder="Name" required />
     <textarea class = "input-name" name="body" placeholder="Tell us anything" required></textarea>
     <div class = "tweet">
      <input type= "file" name="image" placeholder="No File Chosen"/>
      <button value="tweet"><b>Tweet</b></button>
     </div> 
    </form>
  </section>
  <section class="posts">
    
  
    <ul>
      {% for post in posts %}
      <li>
        
          <img class="menu_icon js-menu-icon" src="{% static 'img/menu.png' %}" />
          <div class ="menu">
            <a href="/edit/{{ post.id }}">Edit</a>
            <br/>
            <a href="/delete/{{ post.id }}/">Delete</a>
          </div>
        <div class="logo">
          <img src="{% static 'img/profile-user.png' %}" />
        </div>

        <div class="name_body">
          <div class="name">{{ post.name }}</div>
          <div class="datetime">{{ post.created_at }}</div>
          <p>{{ post.body }}</p>
          {% if post.image.url %}
          <img src={{post.image.url}} alt="">
          {% endif %}
          <div class="like">
            <a href="/like/{{post.id}}"> <img src="{% static 'img/like.svg' %}" alt="" id="like"> </a>
            <h3>{{post.like}}</h3>
          </div>
          
        </div>
      </li>
      {% endfor %}
    </ul>
  </section>
  <script
  src="https://code.jquery.com/jquery-3.6.1.js"
  integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
  crossorigin="anonymous"></script>
  <script>$(function(){
    $('.js-menu-icon').click(function(){
      $(this).next().toggle();
    })
  })</script>
</section>
{% endblock %}
